body{
    background-color: rgba(167, 149, 149, 0.33);
}

h1 strong{
    color: orange;
}
input{
    color: #ddd;
}
button{
    color: #fff;
}
button {
    background-color: rgba(255, 221, 0, 0.84);
}